<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
  
  <!-- mybatis 설정파일 -->
  <configuration>
  	<typeAliases>
  		<package name="com.eatit.memberDomain"/>
  		<package name="com.eatit.warehouseDomain"/>
  		<package name="com.eatit.businessDomain"/>
  		<package name="com.eatit.machineDomain"/>
  		<package name="com.eatit.masterdataDomain"/>  		
  		<package name="com.eatit.MaterialDomain"/>
  		<package name="com.eatit.productionDomain"/>
  		<package name="com.eatit.mainDomain"/>
  	</typeAliases>
  </configuration>